@tailwind base;
@tailwind components;
@tailwind utilities;
body{
     font-family: Figtree, sans-serif; 
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     background-color: whitesmoke; 
     color: rgb(0, 0, 0);
     height:100%;
     
     
}
.content{
    min-height: 100vh;
}
h1{
    color: rgba(0, 0, 0);
    font-size: 2rem;
    text-align: center;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
}
.header{
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    height: 4rem;
}
.dashHeader{
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgb(98, 98, 98);;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    height: 4rem;
}
.header nav, .dashHeader nav{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.option{
    text-decoration: underline;
    margin: 0rem 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    color: #fff;
}
.option:hover{
    transform: scale(1.1);
}
.label{
    color: black;
    margin: 0rem 0rem 1rem 0.3rem;
    font-size: 1.5rem;
}
nav{
    display: flex;
    flex-direction: column;
}
.inputCont{
    background-color: rgb(207, 207, 207);
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0.3rem 0rem;
    width: 90%;
}


.formCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0rem;
    background-color: rgb(207, 207, 207);
    border-radius:2rem;
}
.content form{
    width: 70%;
    margin: 2rem 1rem;
}
#description{
    overflow-y: scroll;
}

.authHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.ievade{
    border: 1px solid rgb(50, 50, 50);;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 99%;
    color: black;
    background-color: whitesmoke;
}
.ievade:hover{
    border: 1px solid rgba(0, 0, 0);
}
.ievade:focus{
    border: 1px solid rgba(0, 0, 0, 1);
}
.ievade::placeholder{
    color: rgb(50, 50, 50);;
}
.btn{
    border: 3px solid rgb(50, 50, 50);
    color: whitesmoke;
    background-color: rgb(50, 50, 50);
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 1rem 0rem;
    width: 8rem;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(50, 50, 50);
    transform: scale(1.1);
    border-color: rgb(53, 0, 152);
}
.dropdown{
    background-color: rgb(50, 50, 50);
    border-color: black;
    border-width: 2px;
}
.problems{
    display: flex;
    flex-direction: row;
    align-items: start;
    
    justify-content: space-evenly;
    margin: 1rem 0.5rem;
}
.problemHolder{
    height: 47.5rem;
    width: 670px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 2rem;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-head{
    background-color: rgb(158, 158, 158);
}
.table-row, .problemTable-row{
    border: 1px solid rgb(50, 50, 50);
    cursor: pointer;
}
.userTable-row{
    border: 1px solid rgb(50, 50, 50);
}
td p{
    text-align: center;
    width: 6.1rem;
    padding: 0.37rem;
    margin: 0.37rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3{
    font-weight: bold;
}
.problem-details {
    display: flex;
    flex-direction: column;
}

.problem-header {
    display: flex;
    justify-content: space-between;
}

.problem-description {
    margin-top: 10px;
}

.link{
    text-decoration: underline;
    font-size: 1rem;
    color: rgb(50, 50, 50);;
}
.remember{
    color: rgb(50, 50, 50);;
    font-size: 1rem;
}
.label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.label input{
    margin: 0rem 0.5rem;
}
#problemDetails p{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#detailsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}
#detailsActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}
#citsNozareCont {
    transition: opacity 0.3s ease, display 0.3s ease;
    display: none;
}

#citsNozareCont[style*="display: none"] {
    opacity: 0;
    display: block !important; 
    visibility: hidden;
}

#citsNozareCont[style*="display: block"] {
    opacity: 1;
    display: block !important; 
    visibility: visible;
}
footer{
    text-align: center;
    padding: 1rem 2rem;
    color: #fff;
    background-color: rgb(50, 50, 50);
    position: static;
    height: 4rem;
}